/*
Colors used:
Primary Color (Light Blue): #b7d1da;
Secondary Color (Light Green): #697268;
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #b7d1da;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #b7d1da;
  text-decoration: underline;
}
a:active {
  color: #994c30;
}
.button {
  display: inline-block;
  background-color: #697268;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #95a3a4;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button:active{
  background-color: #000000;
}
.button.contact {
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}
.button.contact:hover {
  background-color: #697268;
  color: #ffffff;
}
/* Layout styling */
header {
  background-color: #697268;
  text-align: center;
  padding: 10px 0;
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
}
#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}
#hero h1 {
  text-align: center;
}
.logo {
  max-width: 250px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  display: block;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
nav > ul > li > a:visited {
  color: #ffffff;
}
/* main styling */
#hero {
  background-color: #697268;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
main {
  padding-top: 100px;
}
/* footer styling */
#contact {
  background-color: #697268;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#contact h2 {
  text-align: center;
}
#contact p {
  text-align: center;
}
.socialmedia {
  padding: 15 15px;
  text-align: center;
}
.socialmedia > ul {
  list-style-type: none;
  padding: 0;
  display: block;
}
.socialmedia > ul > li {
  display: inline-block;
}
