/*
Colors used:
Primary Color (Light Blue): #b7d1da;
Secondary Color (Light Green): #697268;
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #b7d1da;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #b7d1da;
  text-decoration: underline;
}
a:active {
  color: #994c30;
}
.button {
  display: inline-block;
  background-color: #697268;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #95a3a4;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button:active{
  background-color: #000000;
}
.button.contact {
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  text-align: center;
}
.button.contact:hover {
  background-color: #697268;
  color: #ffffff;
}
/* Layout styling */
header {
  background-color: #697268;
  padding: 10px 0 4px;
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}
#hero h1 {
  text-align: center;
  color: #ffffff;
}
#hero p {
  color: #ffffff;
}
.logo {
  max-width: 150px;
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  display: block;
  margin: 0;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
nav > ul > li > a:visited {
  color: #ffffff;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(192,192,192,0.3);
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
/* main styling */
#hero {
  background-color: #697268;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center
}
main {
  padding-top: 58px;
}
/* footer styling */
#contact {
  background-color: #697268;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#contact h2 {
  text-align: center;
}
#contact p {
  text-align: center;
}
.socialmedia {
  padding: 15 15px;
  text-align: center;
}
.socialmedia > ul {
  list-style-type: none;
  padding: 0;
  display: block;
}
.socialmedia > ul > li {
  display: inline-block;
}
#about .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}
.text-center {
  text-align: center;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 30px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  #hero span {
  display: block;
  }
  .col-md-6 {
  width: 50%;
  }
  [class*="col-"] {
  float: left;
  padding: 10px
  }
  #about h3 {
  margin-top: 0;
  }
  .logo {
  align-items: center;
  max-width: 150px;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
  }
.navtoggle li:last-child {
  display: none;
  }
  nav > ul {
  margin: 1em 0;
  }
  main {
    padding-top: 100px;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
CSS Animation
================================= */
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 45s cloud-move-reverse infinite alternate linear;
}
@keyframes cloud-move-reverse-2 {
  from {transform: translate(60px, 80px)}
  to {transform: translate(0px, 80px)}
}
.cloud-back2 {
  animation: 20s cloud-move-reverse-2 infinite alternate linear;
}
